<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>The Giraffe</title>
</head>
<body class="home-body">
    <nav class="navbar">
        <a href="index.html"><img class="main-logo" src="../images/logo.png" alt="logo"></a>

        <ul class="menu">
            <li><a class="menu-link" href="index.html">Home</a></li>
            <li><a class="menu-link" href="about.html">About</a></li>
            <li><a class="menu-link" href="pictures.html">Pictures</a></li>
            <li><a class="menu-link" href="contact.html">Contact Us</a></li>
        </ul>
    </nav>
    
    <main>
        <div class="home-main">
        <h1 class="main-header">The Noble Giraffe</h1>
        <p class="supporting">Lorem ipsum dolor sit.</p>
        <a href="about.html"><button class="learn-more">Learn More</button></a>
        </div>
    </main>
   


    <script src="../index.js"></script>
</body>
</html>