<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>The Giraffe</title>
</head>
<body class="picture-body">
    <nav class="navbar">
        <a href="index.html"><img class="main-logo" src="../images/logo.png" alt="logo"></a>

        <ul class="menu">
            <li><a class="menu-link" href="index.html">Home</a></li>
            <li><a class="menu-link" href="about.html">About</a></li>
            <li><a class="menu-link" href="pictures.html">Pictures</a></li>
            <li><a class="menu-link" href="contact.html">Contact Us</a></li>
        </ul>
    </nav>
    
    <main>
        <div class="picture-container">
            <div class="picture-grid">
                <img class="pic1 pic" src="../images/gridpic1.jpg" alt="pic1">
                <img class="pic2 pic" src="../images/gridpic2.jpg" alt="pic2">
                <img class="pic3 pic" src="../images/gridpic3.jpg" alt="pic3">
                <img class="pic4 pic" src="../images/gridpic4.jpg" alt="pic4">
                <img class="pic5 pic" src="../images/gridpic5.jpg" alt="pic5">
                <img class="pic6 pic" src="../images/gridpic6.jpg" alt="pic6">
                <img class="pic7 pic" src="../images/gridpic7.jpg" alt="pic7">
                <img class="pic8 pic" src="../images/gridpic8.jpg" alt="pic8">
                <img class="pic9 pic" src="../images/gridpic9.jpg" alt="pic9">
            </div>
        </div>
        
    </main>
    <footer>
        <small class="copyright">&#169;Copyright 2022</small>
    </footer>
   


    <script src="../index.js"></script>
</body>
</html>